:root{

--white: #fff;
--darkblue: #0d253f;
--primary: #757575;
--secondary: #090909;
--honey-yellow: #ffdb58;    /* for the combination with honey yellow */
--navy-blue: #001f3f;       /* for the combination with navy blue */
--sage-green: #68874e;      /* for the combination with sage green */
--blush-pink: #ffc0cb;      /* for the combination with blush pink */
--burnt-orange: #ff4500;    /* for the combination with burnt orange */
/* --amarillo-miel: #ffdb58;  
--azul-marino: #001f3f;    
--verde-salvia: #68874e;  
--rosa-palo: #ffc0cb;       
--naranja-quemado: #ff4500
--gris-raton: #757575
*/

}

html{

    font-size: 62.5%; /*Esto es como un hacke en diseño*/
    /*Ya que hace que se reinicio por decirlo asi la pantalla*/

}
body{
font-size: 16px; /*Siempre se coloca lo que es el html y 
el body que son los encargados de contener todo el codigo*/
 /* 1rem = 10px */
font-family: Raleway, sans-serif;

}

video {
    position: fixed; /* Fija el video en la ventana del navegador */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para cubrir completamente su contenedor */
    z-index: -1; /* Coloca el video detrás de otros elementos */
  }

h1.titulo{

    text-align: center;
    color: var(--primary);
    font-size: 2.8rem;
    font-weight: normal;
    
}

.titulo span{

font-size: 2rem;
color:var(--darkblue);

}

/* .contenedor{

    width: 120rem; /*1200px tener en cuenta
    margin: 0%  auto; /*0% arriba 0% derecha 0% abajo 0% izquierda
} 
*/
.nav-background {
    background-color: rgba(117, 117, 117, 0.1); /* Gris ratón con opacidad del 20% al principio */

}
.main-navegation {
    background-color: rgba(117, 117, 117, 0.2); /* Gris ratón con opacidad del 20% al principio */
    /* Otros estilos del encabezado */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}
  


.main-navegation a{

color: var(--white);
text-decoration: none;
font-size: 1.60rem;
margin:  0 1.5rem;
font-weight:bold; /* es como poner la letra en Negrita equivale a 700 px*/
padding: 1.5rem;
border-bottom: 2px solid transparent; /* Línea transparente por defecto */
transition: background-color 0.3s ease; /* Transición suave */

}

/*Esto es un evento de CSS*/
.main-navegation a:hover{
    border-bottom: 2px solid var(--primary); 
    color: var(--burnt-orange);
}
