:root{

--white: #fff;
--darkblue: #0d253f;
--primary: #757575;
--secondary: #090909;


}

html{

    font-size: 62.5%; /*Esto es como un hacke en diseño*/
    /*Ya que hace que se reinicio por decirlo asi la pantalla*/

}
body{
font-size: 16px; /*Siempre se coloca lo que es el html y 
el body que son los encargados de contener todo el codigo*/
 /* 1rem = 10px */
font-family: Georgia, 'Times New Roman', Times, serif;

}

h1.titulo{

    text-align: center;
    color: var(--primary);
    font-size: 2.8rem;
    font-weight: normal;
    
}

.titulo span{

font-size: 2rem;
color:var(--darkblue);

}

.nav-background{

    background-color: var(--primary);

}

.main-navegation{

 
}

.main-navegation a{

    background-color: var(--darkblue);
    display: block;
}


.container{

width: 120rem; /*1200px tener en cuenta*/
margin: 0%  auto  0% auto; /*0% arriba 0% derecha 0% abajo 0% izquierda*/


}

